* {
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  font-weight: 600;
}

form {
  font-size: 16px;
}

body {
  text-align: center;
}

.box {
  border: 1px solid;
  font-size: 80px;
  height: 200px;
  padding: 15px;
  text-align: center;
  width: 200px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  text-align: left;
}

.box-zero {
  border-left: 0;
  border-top: 0;
  display: flex;
  flex: 0 0 32%;
}

.box-one {
  border-top: 0;
  display: flex;
  flex: 0 0 32%;
}

.box-two {
  border-right: 0;
  border-top: 0;
  display: flex;
  flex: 0 0 32%;
}

.box-three {
  border-left: 0;
  display: flex;
  flex: 0 0 32%;
}

.box-four {
  display: flex;
  flex: 0 0 32%;
}

.box-five {
  border-right: 0;
  display: flex;
  flex: 0 0 32%;
}

.box-six {
  border-bottom: 0;
  border-left: 0;
  display: flex;
  flex: 0 0 32%;
}

.box-seven {
  border-bottom: 0;
  display: flex;
  flex: 0 0 32%;
}

.box-eight {
  border-bottom: 0;
  border-right: 0;
  display: flex;
  flex: 0 0 32%;
}
